body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  background: #CFD8DC;
  font-size: 18px;
  height: 25px;
  padding: 10px;
  box-shadow: 2px 2px 2px #ECEFF1;
}

.site-header {
  margin-right: 15px;
  font-weight: 600;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
}

nav li {
  display: inline-block;
  margin-right: 8px;
  list-style: none;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.social-side {
  float: left;
  width: 73%;
  margin-bottom: 10px;
  margin-left: 8px;
}

.info-side {
  float: left;
  width: 24%;
  margin: 0 8px;
}

.info-side div {
  text-align: center;
}

.info-side div li {
  list-style-type: none;
}

.container {
  width: 75%;
  margin: 10px auto;
}

.profile {
  color: white;
  background: #F44336;
  box-shadow: 2px 2px 2px #B0BEC5;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 10px auto;
  max-height: 130px;
}

.follower {
  color: white;
  background: #9C27B0;
  box-shadow: 2px 2px 2px #B0BEC5;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 10px auto;
  max-height: 130px;
}

.following {
  background: #009688;
  color: white;
  box-shadow: 2px 2px 2px #B0BEC5;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 10px auto;
  max-height: 130px;
}

form {
  margin: 10px auto;
  height: 170px;
  background: #ECEFF1;
  box-shadow: 2px 2px 2px #B0BEC5;

}

textarea {
  resize: none;
  width: 95%;
  height: 100px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px #B0BEC5;

}

#submit {
  width: 95.7%;
  height: 34px;
  margin-left: 15px;
  margin-top: 5px;
  margin-right: 15px;
  background: #2979FF;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 2px 2px 2px #B0BEC5;
  transition: 0.5s all;
}

#submit:hover {
  color: #2979FF;
  background: white;
}

.post {
  margin-top: 15px;
  padding: 15px;
  box-shadow: 2px 2px 2px #B0BEC5;
  list-style-type: none;
  color: white;
  background: #2979FF;
}

.user {
  float: right;
}
